{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-4">Todolist</h1>
  <p class="lead">You can be effective worker using this Todolist.</p>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <a href="{% url 'create' %}" class="btn btn-info" tabindex="-1" role="button"
           aria-disabled="true">create new list</a>
{% for item in object_list %}
    <div class="alert alert-{{ item.priority }}" role="alert">
    <p>{{ item.title }}　duedate: {{ item.duedate }}</p>
    div タグの中に何か書くと全部出てきます。
    # col-md-* を入れるとそれぞれの幅が揃います。answer3 of「https://stackoverflow.com/questions/20230251/bootstrap-alert-size-change」
    パーセントをつけるとコメントアウトになります。と思ったのですが、divタグの中では全部表示されてしまうようです。
    %%% 見えないべ.
    <p></p>で囲むと改行されます。
    <p>
        <a href="{% url 'update' item.pk %}" class="btn btn-info" tabindex="-1" role="button"
           aria-disabled="true">edit</a>
        <a href="{% url 'delete' item.pk %}" class="btn btn-primary" tabindex="-1" role="button"
           aria-disabled="true">delete</a>
        <a href="{% url 'detail' item.pk %}" class="btn btn-success" tabindex="-1" role="button"
           aria-disabled="true">detail</a>
    </p>


</div>

{% endfor %}
</div>
{% endblock content %}